<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Task Form</title>
		<script src="./vault.js" defer></script>
        <link rel="stylesheet" href="../vault/vault.css" />
        
	</head>
	<body>
        <form id="uploadForm" method="post" enctype="multipart/form-data">
            <div>
              <input type="file" class ="file-input" id="file" name="file" multiple />
            </div>
            <div>
              <button type="submit">Add Files</button>
            </div>
          </form>
         
      
    </body>
</html>
