<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journal App</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="journal-container">
        <!-- Dynamically populated journal entries will go here -->
    </div>
    <button id="add-journal">Add Journal Entry</button>

    <div id="journal-popup" class="hidden">
        <nav class="nav-bar">
            <button class="close-button" onclick="closePopup()">&times;</button>
        </nav>
        <br>
        <div class="journal-header">
            <div class="title"><input type="text" id="title" required placeholder="Add Journal Title">
            </div>
        </div>

        <form id="journal-form">
            <label for="date"></label>
            <input type="date" id="date" required>
            <br>
            <br>
            <textarea id="description" required placeholder="Insert journal entry ..."></textarea>
            <div>
                😡 😔 😐 😊 😍
            </div>
            <button type="submit" id="submit-button">Done</button>
        </form>

        <script src="app.js"></script>

</body>

</html>