<div id="labelDiv" class="buttonHolder">
  <button id="labelBtn">Labels</button>
  <div id="labels" class="dropdown-content">
    <!-- Labels will be added here -->
  </div>
</div>
<div id="priorityDiv" class="buttonHolder">
  <button id="priorityBtn">Priority</button>
  <div id="priority" class="dropdown-content">
    <div class="priority-item">P1</div>
    <div class="priority-item">P2</div>
    <div class="priority-item">P3</div>
    <div class="priority-item">P4</div>
  </div>
</div>
<button id="resetBtn" class="buttonHolder">Reset</button>
