<img src="../../assets/res/filter-icon.png" alt="Filter" class="filter-icon" />
<div id="labelDiv" class="holder">
	<span id="labelText" class="mainText">Labels</span>
	<div id="labels" class="dropdown-content">
		<!-- Labels will be added here -->
	</div>
</div>
<div id="priorityDiv" class="holder">
	<span id="priorityText" class="mainText">Priority</span>
	<div id="priority" class="dropdown-content">
		<div class="priority-item">P0</div>
		<div class="priority-item">P1</div>
		<div class="priority-item">P2</div>
		<div class="priority-item">P3</div>
	</div>
</div>
<span id="resetBtn" class="mainText">Clear</span>
