<form id="taskForm">
    <input type="text" id="title" class="form-control" placeholder="Title" required>
        <input type="text" id="description" class="form-control" placeholder="Description">
        <input type="text" id="label" class="form-control" placeholder="Label">
    <input type="number" id="expectedTime" class="form-control" placeholder="Expected time (hours)">
    <input type="datetime-local" id="dueDate" class="form-control" placeholder="Due Date" required>

    <select id="priority" class="form-control" required>
        <option value="P0">P0</option>
        <option value="P1">P1</option>
        <option value="P2">P2</option>
        <option value="P3">P3</option>
        <option value="P4">P4</option>
    </select>

    <button type="submit">Add</button>
</form>