/* Roboto Mono Font Import */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
	--font-family: "Roboto Mono", monospace;
	--font-size-small: 14px;
	--font-size-medium: 16px;
	--font-size-large: 35px;
	--border-color: #ccc;
	--background-color: white;
	--hover-background-color: #ddd;
	--search-bg-color: #d9d6d66e;
}

body,
:host {
	font-family: var(--font-family);
	font-size: var(--font-size-small);
	overflow: hidden;
}

/* Resetting default margin and padding */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Styling the header */
.header {
	background-color: var(--background-color);
	color: #000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	border-bottom: 1px solid var(--border-color);
}

.logo img {
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.logo span {
	font-weight: bold;
	font-size: var(--font-size-large);
	font-family: var(--font-family);
}
.menu {
	width: 30px;
	height: auto;
	cursor: pointer;
	margin-right: 7px;
	margin-left: auto;
	z-index: 1001;
}

.menu-options {
	display: none;
	opacity: 0;
	transform: translateX(100%);
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	background-color: white;
	border-left: 1px solid #b4b4b4;
	z-index: 1000;
	padding-top: 30px;
	transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-options.visible {
	display: block;
	opacity: 1;
	transform: translateX(0);
}

.menu-options ul {
	list-style-type: none;
	padding: 20px;
	margin: 0;
}

.menu-options ul li {
	margin: 10px 0;
}

.menu-options ul li span {
	text-decoration: none;
	color: black;
	display: block;
	padding: 5px 10px;
	font-family: "Roboto Mono", monospace;
	font-weight: normal;
	font-size: 22px;
	cursor: pointer;
}

/* Styling search functions in header bar */
.menu-options ul li span:hover {
	background-color: #f0f0f0;
}

.search-filter-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
}

.search-bar {
	display: flex;
	align-items: center;
	margin-left: 200px; /* Space before the search bar */
}

.search-container {
	position: relative;
	display: flex;
	align-items: center;
}

.search-container img {
	width: 38px;
	height: 38px;
}

#searchInput {
	padding: 5px 5px 5px 30px;
	width: 400px;
	height: 40px;
	border: none;
	border-radius: 5px;
	background-color: var(--search-bg-color);
	font-size: var(--font-size-small);
}

/* Styling filter functions in header bar */
.filter-buttons {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-left: auto;
	margin-right: 200px;
}

hr {
	margin-top: 15px;
}

/* Adding styles for the filter icon */
.filter-icon {
	height: 32px; /* Same height as the label button */
	width: 32px; /* Same width as the height to keep it square */
	margin-right: 5px; /* Space between the icon and the text */
}

#labelDiv {
	display: flex;
	align-items: center;
	justify-content: center;
}

#labelText {
	margin-left: 5px; /* Adjust if needed to ensure proper alignment */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
	.search-filter-bar {
		flex-direction: column;
		align-items: stretch;
	}

	.search-bar {
		width: 100%;
		margin-bottom: 10px;
	}

	.filter-buttons {
		justify-content: flex-end;
	}

	.holder,
	#resetBtn {
		width: auto;
		flex: 1;
		height: 40px;
	}

	#searchInput {
		width: 100%;
	}
}

/* Styling the calendar */
.calendar {
	display: flex;
	flex-flow: column nowrap;
	height: calc(100vh - 50px); /* Adjust height to leave space for header */
	margin: auto;
	justify-content: bottom;
	align-items: center;
	font-family: "Roboto Mono";
	overflow-y: scroll;
	scrollbar-width: thin;
	/* padding-top: 300px; */
	padding-bottom: 100px;
	cursor: default;
}

.day {
	display: flex;
	flex-direction: row; /* Change to column to get dates as top headers */
	flex-grow: 1;
	width: 80%;
	align-items: center;
	border-bottom: 1px solid #ccc;
}

.day > div {
	flex-grow: 1;
	flex: 1;
	flex-direction: row;
}

.day h4 {
	/* flex-direction: row; */
	/* flex-grow: 1; */
	margin-left: 10%;
	/* width: 20%; */
	/* align-content: center; */
	display: block;
	text-align: center;
	font-size: 22px;
	margin-right: 5%;
}

.task-container {
	/* flex-grow: 1; */
	width: 90%;
	flex: 1;
	text-align: center;
	align-items: center;
	padding: 10px 0;
	font-weight: bold;
	font-family: "Roboto Mono";
	display: flex;
	flex-direction: row;
	align-items: center;
}

.tasks-wrapper {
	justify-content: center;
	width: 100%;
}

.time-left-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	padding: 10px 0;
	font-weight: bold;
	font-family: "Roboto Mono";
	margin-right: 12%;
}

.task-pv {
	margin: auto; /* Adjust as needed */
	margin-right: 8%;
	padding: 10px; /* Adjust as needed */
	/* width: calc(100% - 10px);  */
	/* width: 350px; */
	width: 80%;
	border: 1px solid #000; /* Outline */
	border-radius: 7px; /* Rounded corners */
	justify-content: flex;
	text-align: left; /* Text alignment */
	align-items: stretch; /* Box alignment */
	background-color: #fff; /* Background Color */
	font-size: 10px; /* Size of text */
	align-self: flex-end;
}

.days-left {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-right: 15px;
}

.day-left-square {
	height: 20px;
	width: 20px;
	background-color: #bdbdbd;
	margin: 5px;
	border-radius: 5px;
}

.month-divider {
	margin-top: 5px;
	font-size: 24pt;
}

.day-date {
	font-weight: bold;
	font-family: "Roboto Mono";
	margin-bottom: 5px;
	justify-content: left;
	margin-right: 8%;
}
