<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>All tasks</title>
		<link rel="icon" type="image/x-icon" href="../assets/res/favicon.ico" />
		<link rel="stylesheet" href="../all-tasks/all-tasks.css" />

		<!--References to component css files-->
		<link rel="stylesheetTask" href="../task-popup/task-popup.css" />

		<!--References to component js files-->
		<script src="../all-tasks/all-tasks.js" type="module"></script>
		<script src="../task-popup/task-popup.js"></script>
		<script src="../filter/filter.js"></script>
	</head>

	<body>
		<!--Header-->
		<div class="header">
			<div class="logo">
				<img src="../../assets/res/logo.png" alt="Logo" />
				<span>tasks</span>
			</div>
			<img
					src="../../assets/res/menuBtn.png"
					alt="Menu"
					class="menu"
					id="menu"
				/>
				<div class="menu-options" id="menu-options">
					<ul>
						<li><span id="calendar">calendar</span></li>
                    	<li><span id="vault">vault</span></li>
					</ul>
				</div>
		</div>

		<!-- Container -->
		<div class="search-filter-bar">
			<div class="search-bar">
				<div class="search-container">
					<img
						src="../../assets/res/search-icon.png"
						alt="Search Icon"
					/>
					<input
						type="text"
						id="searchInput"
						placeholder="Search tasks..."
					/>
				</div>
			</div>
			<filter-component></filter-component>
		</div>

		<hr />

		<!--Calendar Container-->
		<div class="calendar">
			<!--Sunday Container-->
			<div class="day" id="sun">
				<h2>SUN</h2>
				<div class="day-date"></div>
				<hr />
				<ul id="UL1"></ul>
				<div class="tasks-wrapper">
					<div class="task-container">
						<div class="label-box"></div>
					</div>
				</div>
				<div class="time-left-container">
					<div class="label-box"></div>
					<div class="days-left"></div>
					<div class="days-left-text">
						<h3></h3>
					</div>
				</div>
			</div>

			<!--Monday Container-->
			<div class="day" id="mon">
				<h2>MON</h2>
				<div class="day-date"></div>
				<hr />
				<div class="tasks-wrapper">
					<div class="task-container">
						<div class="label-box"></div>
					</div>
				</div>
				<div class="time-left-container">
					<div class="label-box"></div>
					<div class="days-left"></div>
					<div class="days-left-text">
						<h3></h3>
					</div>
				</div>
			</div>

			<!--Tuesday Container-->
			<div class="day" id="tues">
				<h2>TUES</h2>
				<div class="day-date"></div>
				<hr />
				<div class="tasks-wrapper">
					<div class="task-container">
						<div class="label-box"></div>
					</div>
				</div>
				<div class="time-left-container">
					<div class="label-box"></div>
					<div class="days-left"></div>
					<div class="days-left-text">
						<h3></h3>
					</div>
				</div>
			</div>

			<!--Wednesday Container-->
			<div class="day" id="wed">
				<h2>WED</h2>
				<div class="day-date"></div>
				<hr />
				<div class="tasks-wrapper">
					<div class="task-container">
						<div class="label-box"></div>
					</div>
				</div>
				<div class="time-left-container">
					<div class="label-box"></div>
					<div class="days-left"></div>
					<div class="days-left-text">
						<h3></h3>
					</div>
				</div>
			</div>

			<!--Thursday Container-->
			<div class="day" id="thurs">
				<h2>THURS</h2>
				<div class="day-date"></div>
				<hr />
				<div class="tasks-wrapper">
					<div class="task-container">
						<div class="label-box"></div>
					</div>
				</div>
				<div class="time-left-container">
					<div class="label-box"></div>
					<div class="days-left"></div>
					<div class="days-left-text">
						<h3></h3>
					</div>
				</div>
			</div>

			<!--Friday Container-->
			<div class="day" id="fri">
				<h2>FRI</h2>
				<div class="day-date"></div>
				<hr />
				<div class="tasks-wrapper">
					<div class="task-container">
						<div class="label-box"></div>
					</div>
				</div>
				<div class="time-left-container">
					<div class="label-box"></div>
					<div class="days-left"></div>
					<div class="days-left-text">
						<h3></h3>
					</div>
				</div>
			</div>

			<!--Saturday Container-->
			<div class="day" id="sat">
				<h2>SAT</h2>
				<div class="day-date"></div>
				<hr />
				<div class="tasks-wrapper">
					<div class="task-container">
						<div class="label-box"></div>
					</div>
				</div>
				<div class="time-left-container">
					<div class="label-box"></div>
					<div class="days-left"></div>
					<div class="days-left-text">
						<h3></h3>
					</div>
				</div>
			</div>
		</div>
		<!--Calendar-->

		<!--References to component js files-->
	</body>
</html>
