<!-- Jounral Popup -->
<nav class="nav-bar">
	<img
		id="closeBtn"
		src="../../assets/res/exit-button.png"
		alt="Close Button"
	/>
</nav>
<!-- Journal Form -->
<form id="journalForm" class="journal-form">
	<!-- Title Section -->
	<div class="title-section">
		<input
			type="text"
			id="title"
			class="form-control"
			placeholder="Add Journal Title"
			required
		/>
	</div>
	<!-- Main Content -->
	<div class="main-content">
		<div class="input-section">
			<input
				type="datetime-local"
				id="dueDate"
				class="form-control"
				placeholder="Due Date"
				required
			/>
			<!-- Label Selection -->
			<div class="dropdown">
				Label
				<div id="label" class="dropdown-content">
					<!-- labels will be added here -->
				</div>
			</div>
		</div>
		<div class="selectedLabels">
			<!-- selected labels will go here -->
		</div>
		<!-- Description Section -->
		<textarea
			id="description"
			class="form-control"
			placeholder="Insert Journal Entry ..."
			required
		></textarea>
		<button type="submit" id="addBtn" class="submit-btn">Done</button>
	</div>
</form>
