/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling the header */
.header {
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc; /* Add border bottom to header */
}

.logo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.logo span {
    font-weight: bold;
    font-size: 20px;
}

.menu-icon img {
    width: 30px;
    height: 30px;
}

/* Styling the calendar */
.calendar {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px); /* Adjust height to leave space for header */
}

.day {
    display: flex;
    flex: 1;
    height: 100%; /* Make each day section fill the available height */
}

.day > div {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}

/* Ensure the vertical lines reach all the way down */
.day > div:not(:last-child) {
    border-right: 1px solid #ccc;
}

/* Adjust button styles */
.add-task,
.add-journal {
    margin: 5px; /* Adjust as needed */
    padding: 10px; /* Adjust as needed */
    width: calc(100% - 10px); /* Stretch button width to fill container */
    border: 1px dotted #000; /* Dotted outline */
    border-spacing: 100px; /* Increase spacing between dots */
    cursor: pointer; /* Change cursor to pointer */
    background-color: #fff; /* Background color */
    color: #000; /* Text color */
    font-weight: bold; /* Bold text */
}


/* Popup modals */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Other styles */
/*Journal and Task Previews*/
.journal-pv,
.task-pv{
    margin:10px;
    padding: 10px;
    width: auto;
    flex: auto;
    border: 1px solid black;
    border-radius:10px;
    justify-content: flex-start;
    text-align: left;
    align-items: stretch;
    background-color: #fff;
    cursor: pointer;
  }