<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Modal</title>
    <link href="comp1.css" rel="stylesheet">
    <script defer src="comp1.js"></script>
</head>
<body>
    <button data-modal-target="#modal">Open Modal</button>
    <div class="modal active" id="modal">
        <div class="modal-header">
            <div class="title">Example Modal</div>
            <button data-close-button class="close-button">&times;</button>
        </div>
        <div class="modal-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel velit possimus quidem deleniti harum commodi laboriosam corrupti quisquam aliquam veritatis, hic, incidunt eveniet ipsa similique voluptate repellat unde iusto.
        </div>
    </div>
    <div id="overlay"></div>
</body>
</html>
